
<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <title>#1 Source for Coworking Locations</title>
</head>
<body>
  
<div class="container">
    <div class="top-bar">
      <div class="row">
        <div class="col-md-12">
          <h3><u>Just because you work <i>for yourself</i> doesn't mean you have to work <i>by yourself</u></i></h3>
          <div class="top-bar-logo"><a href="/"><%= image_tag "newlogo.gif" %></a></div>
            <div class= "row">
              <%= form_tag "/search" do %>
              <div class="col-md-12 col-md-offset-8">
            <%= text_field_tag "city", "City", size: 20 %>
            <%= submit_tag "Search" %></div>
            </div>
            <% end %>

        <% if @user == nil %>
        <a href="/login"><button type="button" class="btn btn-success">Login</button></a>
        <% else %>

        <%= "Welcome " %><%= @user.username %><br>
        <a href="/logout"><button type="button" class="btn btn-success">Logout</button></a>
        <a href="/new_cowork"><button type="button" class="btn btn-danger">Add Listing</button></a>
        <a href="/event"><button type="button" class="btn btn-danger">Add Events</button></a>
        <% end %>
        <% if flash[:error] != nil %>
          <div class="alert alert-danger">
            <%= flash[:error] %>
          </div>
          <% end %>
        </div>
      </div>    
    </div>
  </div>
<br>

<%= yield %>
<div class="footer">
  <div class="container">
   <a href="http://placeholder.com/"><h5>&copy; 2013 Sugar Mountain Software LLC</h5><h3>Connect with us!<br> Follow <a href="http://twitter.com/placehol">@Cowork</a> on Twitter</h3>  
     </div>
 </div>

</body>
</html>

